# Virtual environment
venv/
.env


# Python cache
__pycache__/
*.pyc

# Runtime cache
cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

#sqlite_database
transcripts.db

#environment variables
.env