# Virtual environments
.venv/
venv/
venv_old/



# Python cache
__pycache__/
*.pyc

# Runtime cache
cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

#sqlite_database
transcripts.db

#environment variables
.env

#old venv
venv_old/

#config files
config

# Chunking output files
*_chunking.json

# Qdrant data
qdrant_data/

